pandas
numpy
scipy
seaborn
matplotlib
scikit-learn
statsmodels
xgboost
ipykernel
mlflow
fastapi
uvicorn
pydantic
python-dotenv
joblib
great-expectations
pytest
requests
lightgbm
optuna
uvicorn
gradio
pytest
httpx
